*.o
*.so
*.la
*.a
*.gmo
*.lo
*.log
.dirstamp
.DS_Store
Makefile
pi-packages
pi-gpk-update-viewer
pi-gpk-log
pi-gpk-dbus-service
pi-gpk-prefs
pi-gpk-install-local-file
config.status
config.log
.deps/
.libs/
libtool
autom4te.cache/*

